<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.exallium.tradetracker.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:name=".MainApplication"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".CardService">

        </service>

        <meta-data android:name="DATABASE" android:value="tradetracker.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="org.exallium.tradetracker.app.model.entities" />

    </application>

</manifest>
